html{
   scroll-behavior: smooth;
}
body {
    background-color: #f6f5f5;
    margin: 0px;
    padding: 0px;
    position: relative;
  }  

ul{
    list-style: none
}
a{
    text-decoration: none;
  
} 
section{
  width: 100%;
  height: 95vh;
  background-image: url("images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* z-index: 1000; */
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0,0.2);
    padding:0px 5%;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul li a{
    margin:10px;
    color: #505050;
    font-size: 15px;
    font-weight: 700;
}


#logo{
   
   font-size:30px;
   color: rgba(128, 128, 128, 0.887);
    
}
.active{
    font-weight: bold;
    color: #2d2a2a;
}
/* ====================== text ====================== */
.text-container p:nth-child(1){
   font-size: 22px;
   font-weight: bold;
   font-family: calibri;
   color: #6d6d6d;
}
   
.text-container p:nth-child(2){
    font-size: 60px;
    font-weight: bold;
    font-family: calibri;
    color: #1a1a1a;
    letter-spacing: 1px;
    line-height: 50px;
 }
 .text-container p:nth-child(3){
    font-size: 32px;
    font-weight: bold;
    font-family: calibri;
    color: #403d4d;
    line-height: 30px;
 }
 .text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
 }
 .text-container{
    position: absolute;
    left: 13%;
    top: 45%;
    transform: translate(-13%,-42%);
 }
 .text-container .download-cv{
    width: 230px;
    height:35px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 17px;
    border: none;
    background:#202020;
    color:#fff;
    margin:0px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.439);
 }
 .download-cv:active{
    transform: scale(1.05);
 }
 /* ============================== Model =============================== */
 .model{
    height: 560px;
    position: absolute;
    left: 70%;
    bottom: 40px;
    transform: translateX(-70%);
    /* z-index: -100; */
   
 }
 /* ======================== about container ============================ */

 .about-container{
    height: 360px;
    width: 85%;
    margin: -7% auto 20px auto;
    background-color: #fff;
    box-shadow: 2px 2px 12px rgba(0, 0, 0,0.2);
    display: flex;
    position: relative;
    border-radius: 20px;
    justify-content: space-evenly;
    align-items: center;
 }
 .about-text{
    width: 550px;
 }
 .about-container img{
    height: 250px;
 }
 .about-text p:nth-child(1){
    font-weight: bold;
    font-size: 27px;
    color: #2e2e2e;
 }
 .about-text p:nth-child(2){
    font-weight: bold;
    font-size: 22px;
    line-height: 0%;
    color: #4d4d4d;
 }
 .about-text p:nth-child(3),.about-text p:nth-child(4){

    font-size: 17px;
    color: #7d7d7d;
 }
 .about-text button{
    width: 120px;
    height: 30px;
    color: #fff;
    background-color: #202020;
    border: none;
    border-radius: 5px;
    left: 35px;
 }

 /* ========================================= contact ============================================== */
 footer{
  
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }
footer .contact-details{
   background-color: #000000;
   width: 100%;
   text-align: center; 
   height: 30vh;
   position: relative;

}
.contact-details p:nth-child(1){
   font-size: 30px;
   line-height: 0px;
   margin-bottom:40px;
   font-weight: bold;
   color: #fff;
}
.contact-details p:nth-child(2){
   font-size: 17px;
   color: #4d4d4d;
}
.contact-details .contact-btn{
   width: 250px;
   height: 35px;
   border-radius: 5px;
   border: none;
   font-size: 15px;
   font-weight: bold;
   position:absolute;
   bottom: 10px;
   left: 50%;
   transform: translateX(-50%);
}
.contact-btn:active{
   background-color: #7d7d7d;
}

/* ==============social media ======================= */
.social-media-text{
  height: 150px;
  text-align: center;
}
.social-media-text p:nth-child(1){
   font-size: 30px;
   line-height: 0px;
   font-weight: bold;
}
.social-media-text p:nth-child(2){
   font-size: 17px;
   color: #4d4d4d;
}

.social-media-icons{
   display: flex;
   justify-content: center;
   align-items: center;
}
.social-media-icons a{
   width: 40px;
   height: 40px;
   background-color: #ddd8d8;
   border-radius: 50%;
   margin: 20px 10px;
   display: flex;
   justify-content: center;
   align-items: center;
}
/* ======================================== side social media ===================== */
.side{
   position: fixed;
   right: 0px;
   top: 50%;
   flex-direction: column;
   transform: translateY(-50%);
   
}
/* ======================================== education =============================== */
.edu-container{
   display: flex;
   justify-content:space-evenly;
   align-items: center;
   margin: 10px 10px;
  
}
.edu-container div{
   background-color: #101010;
   text-align: center;
   padding: 10px 5px;
   width: auto;
   height: 40vh;
   position: relative;
   transition: top 2s;

}
.edu-container div:hover{
   top:-15px;
   background-color:black;
   transform: scaleX(.99);
   border-radius: 5px;
}
.edu-container div p:nth-child(1){
   font-size: 27px;
   color: #fff;
}
.edu-container div p:nth-child(2){
   font-size: 17px;
   color: #4d4d4d;
   margin-top: 40%;
   transform: translateY(-40%);
}